/* ################ HEADER SECTION ########### */
#header {

    position: relative;
    color: $c-main;

    &.full_height_header {

        height: 100vh;

    }

    &.notFull_height_header {

        height: 80vh;

    }

    .header_bg {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
        object-position: center;

    }

    .header_content {
        
        position: relative;
        z-index: 1;

        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 150px;

        .header_top {

            @include centerFlex;
            justify-content: space-between;

            .header_name, .header_burger {
                
                margin: 0 50px;

                @media screen and (max-width : 802px) {
                    
                    margin: 0 20px;

                }

            }

            .header_name {

                @include title_style( clamp(20px , 2vw , 40px ) );

            }
            
            .header_burger {

                @include centerFlex;
                cursor: pointer;
                height: calc( (8px + 6px) * 3);

                .header_burger_bull {

                    position: relative;
                    width : 8px;
                    height: 8px;
                    background-color: $c-white;
                    border-radius: 50px;
                    margin: 0 3px;
                    
                    &::before, &::after {
                        content: "";
                        position: absolute;
                        width : 8px;
                        height: 8px;
                        background-color: $c-white;
                        border-radius: 50px;
                        top: 0;
                        left: 0;
                    }

                    &::before {

                        transform: translateY(calc(-100% - 3px));

                    }

                    &::after {

                        transform: translateY(calc(100% + 3px));

                    }

                }

            }

        }

        .header_middle {

            @include centerFlex;
            justify-content: flex-start;

            @media screen and (max-width : 700px) {
                    
                justify-content: center;

            }

            h1 {

                margin-left: 200px;
                @include title_style( clamp(30px , 4vw , 96px ) );
                color: white;
                max-width: 1100px;

                @media screen and (max-width : 1200px) {
                    
                    margin-left: 100px;
                    max-width: 800px;

                    @media screen and (max-width : 700px) {
                    
                        margin-left: 0;
                        max-width: 90%;
                        text-align: center;
    
                    }

                }

            }

        }

        .header_bottom {
            
            @include centerFlex;
            justify-content: flex-end;
            
            .content_bottom {

                width: 45vw;
                height: 100%;
                background-color: $c-white;

                @media screen and (max-width : 1200px) {
                    
                    width: 60vw;

                    @media screen and (max-width : 880px) {
                    
                        width: 70vw;

                        @media screen and (max-width : 740px) {
                        
                            width: fit-content;
                            
                        }
    
                    }

                }
                

                @include centerFlex;

                .coordonnate {

                    width: 100%;
                    padding: 0 50px;
                    @include centerFlex;
                    justify-content: space-between;

                    @media screen and (max-width : 740px) {
                        
                        flex-direction: column;
                        align-items: flex-end;
                        
                    }

                    li {

                        p {

                            @include title_style( clamp(16px , 1vw , 20px ) );

                        }

                    }

                }

            }

        }

    }

    &.white_logo {

        .header_content {

            .header_top {

                .header_name {

                    color: white;
    
                }

            }

        }

    }

}

/* ################ FOOTER SECTION ########### */
#footer {

    background-color: $c-footer;
    @include centerFlex;
    flex-direction: column;
    
    a {

        color: $c-white;

    }

    .bottom_bandeau {

        padding: 20px 0;
        @include text_style ( clamp(12px , 1vw , 16px ) , 400 , $c-white);

        span {
            
            font-weight: 700;

        }

    }

    .mane_content {

        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0;

        @media screen and (max-width : 1070px) {
            
            flex-direction: column;
            padding: 50px;

        }

        nav {

            @media screen and (max-width : 1070px) {
            
                margin-bottom: 50px;
    
            }

            .menu_top {

                display: flex;

                @media screen and (max-width : 938px) {
            
                    flex-direction: column;
        
                }

                .menu_under {

                    margin: 0 30px;

                    @media screen and (max-width : 938px) {
            
                        margin: 20px 0px;
            
                    }

                    .under_title_menu {

                       @include title_style( clamp(16px , 1vw , 20px ) );
                       margin-bottom: 8px;

                    }

                    .under_list_menu {

                        li {

                            margin: 6px 0;

                        }
                        
                    }

                }

            }

        }

        .cta_content {

            @include call_to_action;

        }

    }

}

/* ################ NAVIGATION SECTION ########### */
#navigation {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $c-main040;
    z-index: 99999;

    transform: translateY(-100%);
    transition: ease-in-out 0.35s transform;

    &.open {

        transform: translateY(0);

    }

    a {

        color: $c-white;

    } 

    #nav_content {

        background-color: $c-main;
        padding: 50px 80px;
        max-height: 80vh;
        width: 100%;


        display: flex;
        justify-content: space-between;
        align-items: flex-start;
       

        @media screen and (max-width : 1024px) {
                
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            @media screen and(max-width : 574px) {
                
                padding: 20px;

            }

        }

        .list_link_nav {

            @media screen and (max-width : 1024px) {
                
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

            }

            li {

                margin: 20px;

                a {

                    .p_nav {

                        position: relative;

                        & > span {

                            transition: ease-in-out 0.3s all;
                            display: inline-block;
                            overflow: hidden;

                            &.front_text {

                                
                                @include title_style( clamp(24px , 3vw , 48px ) );
                                position: absolute;
                                white-space: nowrap;
                                bottom: 0;
                                left: 0;
                                z-index: 1;

                                @media screen and (max-width : 1024px) {
                
                                    position: relative;
                    
                                }

                            }

                            &.back_text {

                                position: relative;
                                color: $c-opacity-text;
                                @include title_style( clamp(40px , 4.8vw , 96px ) );
                                z-index: 0;

                                @media screen and (max-width : 1024px) {
                
                                    display: none;
                    
                                }

                            }

                            .openAnimate {

                                display: inline-block;
                                transform: translateY(-100%);
                                transition: ease-in-out transform 0.3s;

                                &.open {

                                    transform: translateY(0);

                                }

                            }

                        }

                    }

                }

                &:hover {

                    a {

                        .p_nav {

                            span {

                                &.front_text {

                                    transform: scale(1.05)

                                }

                                &.back_text {

                                    transform: scale(0.95);

                                }

                            }

                        }

                    }

                }

            }

        }

        .closeNavigation {
            
            cursor: pointer;

            @media screen and (max-width : 1024px) {
                
                align-self: flex-end;

            }

        }

    }

}