#hub_content {

    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 574px) {

        padding: 50px;

    }

    .hub {

        width: calc(100% / 2 - 20px);
        min-height: 50vh;
        position: relative;
        display: block;
        color: $c-white;
        @include centerFlex;

        @media screen and (max-width : 1024px) {
            
            width: 100%;
            margin: 20px 0;

            @media screen and (max-width: 574px) {

                min-height: 30vh;
        
            }

        }

        img {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        .content {

            position: relative;    
            @include title_style( clamp(24px , 2.4vw , 48px ) );   
            opacity: 1;
            transition: 0.35s ease-in-out opacity;     

        }

        &:hover {

            .filter {

                opacity: 0;

            }

            .content {

                opacity: 1;

            }

        }

    }

}