#pop_up_reservation {

    position: fixed;
    top: 0;
    left: 0;
    background-color: $c-main040;

    width: 100vw;
    min-height: 100vh;
    overflow: auto;

    z-index: 1000;

    @include centerFlex;

    display: none;

    &.active {

        display: flex;

    }

    form {

        background-color: $c-white;
        padding: 50px;
        color: $c-main;
        min-width: 30vw;

        @include centerFlex;
        flex-direction: column;

        h2 {

            @include title_style( clamp(30px , 3vw , 48px ) );

        }

        label {

            margin: 10px;
            width: 100%;
            @include text_style( clamp(14px , 1.5vw , 20px ) , 300 , $c-main );

            p {

                margin-bottom: 5px;

            }

            input {

                padding: 20px 10px;
                outline: none;
                width: 100%;
                color: $c-main;
                @include text_style( clamp(14px , 1.5vw , 20px ) , 300 , $c-main );

                &::placeholder {

                    @include text_style( clamp(14px , 1.5vw , 20px ) , 300 , $c-main );

                }

            }

        }

        .btn {

            @include centerFlex;

            p {

                margin-right: 20px;
                cursor: pointer;

            }

        }

        input[type=submit] {
            
            margin-left: 20px;
            outline: none;
            border: none;
            cursor: pointer;
            @include call_to_action;
            background-color: $c-main;
            color: $c-white;

        }

    }

}