#list_bien {

    padding: 150px 200px;

    @media screen and (max-width : 1200px) {
        
        padding: 100px;

        @media screen and (max-width : 1024px) {
        
            padding: 100px 0;

            @media screen and (max-width : 750px) {
        
                padding: 40px 0 0;
        
            }
    
        }

    }

    .container_bien {

        @include centerFlex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width : 1024px) {
            
            flex-direction: column;
    
        }

    }

}