#contact {

    margin: -350px 140px 0;
    background-color: $c-white;
    color: $c-main;
    padding: 40px;
    z-index: 9999;
    position: relative;

    @media screen and (max-width : 930px) {
        
        margin: -350px 30px 0;
        padding: 40px 20px;

        @media screen and (max-width : 442px) {
            
            margin: -40vh 0 0;

        }

    }

    h2 {

        @include title_style( clamp(24px , 2.3vw , 48px ) );
        margin-bottom: 15px;

    }

    .form_contact {

        .top_form {

            @include centerFlex;
            justify-content: space-between;
            margin-bottom: 15px;

            @media screen and (max-width : 617px) {
        
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
        
            }

            label {

                p {

                    margin-bottom: 5px;
                    color: #1A1D1F;
                    @include text_style( clamp(14px , 1.5vw , 20px ) , 300 , $c-main );

                }

                input {

                    width: 100%;
                    height: 50px;
                    outline: none;
                    border: none;
                    background-color: #EEEEEE;
                    padding: 0px 15px;
                    color: $c-main;

                }

            }

            .divise_quart {

                width: calc(25% - 10px);
                

            }

            .divise_deux {

                width: calc(50% - 10px);

            }

            .divise_deux,.divise_quart {

                margin: 10px 0;

                @media screen and (max-width : 617px) {
        
                   width: 100%;
            
                }

            }

        }

        .bottom_form {

            @include centerFlex;
            width: 100%;

            label {

                display: block;
                width: 100%;
                height: 100%;

                p {

                    margin-bottom: 5px;
                    color: #1A1D1F;
                    @include text_style( clamp(14px , 1.5vw , 20px ) , 300 , $c-main );

                }

                textarea {

                    background-color: #EEEEEE;
                    width: 100%;
                    height: 280px;
                    outline: none;
                    border: none;
                    padding: 15px;
                    color: $c-main;

                }

            }

        }

        .return_form {

            width: 100%;
            margin-top: 20px;
            
            input {

                @include call_to_action;
                background-color: $c-main;
                color: white;
                border: none;
                cursor: pointer;

            }

        }

    }

    .maps {

        width: calc(100% + 80px);
        transform: translate(-40px, 40px);
        height: 70vh;

        @media screen and (max-width : 930px) {
        
            width: calc(100% + 40px);
            transform: translate(-20px, 40px);
    
        }

        iframe {

            width: 100%;
            height: 100%;

        }

    }

}